body {
  padding: 00px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#vsebina {
  width: 100%;
  margin-right:auto;
  margin-left:auto;
}

#kanal {
  background-color: #ddd;
  margin-bottom: 1em;
}

#sporocila {
  width: 85%;
  height: 300px;
  overflow: auto;
  background-color: #eee;
  margin-bottom: 1em;
  margin-right: 0px;
}

#seznam-kanalov {
  float: right;
  width: 15%;
  height: 300px;
  overflow: auto;
}

#seznam-kanalov div {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#seznam-kanalov div:hover {
  background-color: #ddd;
}

#poslji-sporocilo {
  width: 85%;
  margin-bottom: 1em;
  margin-right: 1em;
}

#pomoc {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}